<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container-fluid wrapper">
	<div class="row border">
		<div class="col col-lg-4 col-med-4 col-sm-4 wrapper">
			<ul>
				<p><i class="material-icons">phone_android</i></p>
				<h1>Our Office</h1>
				<p>Lorem ipsum...</p>
			</ul>
		</div>
		<div class="col col-lg-4 col-med-4 col-sm-4 wrapper">
			<ul>
				<p><i class="material-icons">email</i></p>
				<h1>Directions &amp; Parking</h1>
				<p>Lorem ipsum...</p>
			</ul>
		</div>
		<div class="col col-lg-4 col-med-4 col-sm-4 wrapper">
			<ul>
				<p><i class="material-icons">home</i></p>
				<h1>Contact Info</h1>
				<p>Lorem ipsum...</p>
			</ul>
		</div>
	</div>
</div>
