h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #89807D;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	font-size: 1.25em;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
}

.border {
	border: 5px black;
}

.row {
	width: 95%;
	padding-top: 10%;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.material-icons {
	font-size: 96px;
	color: #f1f1f1;
	background-color: #EEB211;
	border-radius: 50%;
	padding: 15px;
}