<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container-fluid wrapper">
	<div class="row">
		<div class="col col-lg-4 col-med-4 col-sm-4 wrapper">
			<ul>
				<p><i class="material-icons">person</i></p>
				<h1>Director</h1>
				<p>Anthony Bridges, GTAA</p>
				<p>Director of Computer Operations</p>
			</ul>
		</div>
		<div class="col col-lg-4 col-med-4 col-sm-4 wrapper">
			<ul>
				<p><i class="material-icons">home</i></p>
				<h1>Our Office</h1>
				<p>150 Bobby Dodd Way</p>
				<p>Atlanta, GA, 30332</p>
			</ul>
		</div>
		<div class="col col-lg-4 col-med-4 col-sm-4 wrapper">
			<ul>
				<p><i class="material-icons">email</i></p>
				<h1>Contact Info</h1>
				<p>Phone: <a href="tel:+14048945400">404-894-5400</a></p>
				<p>Email: <a href="mailto:abridges@athletics.gatech.edu">abridges@athletics.gatech.edu</a></p>
			</ul>
		</div>
	</div>
</div>
