<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-8 col-med-8 col-sm-8">
			<div class="title-text">
				<h1>Georgia Tech Athletics inspires and empowers student-athletes to be champions in academics, competition, and life.</h1>
			</div>
			<div class="body-text">
				<p style="text-align: center">Our Core Values</p>
				<p>&bull;&nbsp;Teamwork: Many people, one team. We are united by open communication, mutual respect, and a shared vision. Together we serve and succeed. Together we swarm.</p>
				<p>&bull;&nbsp;Character: We speak honestly, act ethically, perservere in the face of a challenge, and honor our commitments. We take ownership of our actions and decisions.Our integrity is never compormised.</p>
				<p>&bull;&nbsp;Excellence: We relentlessly puruse greatness through passion, hard work, intelligence, and discipline.</p>
				<p>&bull;&nbsp;Innovation: We have the courage to take risks, adapt, and explore creative solutions. We embrace new ideas and drive challenge.</p>
			</div>
		</div>
		<div class="col col-lg-4 col-med-4 col-sm-4" style="background-color: #EEEEEE">
			<div class="sidebar">
				<div class="list-group">
					<div class="list-item">
						<h4 class="block-title">Georgia Tech Athletics Compliance Manual</h4>
						<div class="block-image-wrapper">
							<img src="home/static/compliance-manual.jpg" class="img-fluid" alt="compliance-manual" id="border">
						</div>
						<div class="block-link">
							<button type="button" class="btn btn-secondary"><b>Read More</b></button>
						</div>
						<hr class="hr-style">
					</div>
					<div class="list-item">
						<h4 class="block-title">Student Athlete Academic Support Services 2016-2017 Handbook</h4>
						<div class="block-image-wrapper">
							<img src="" class="img-fluid" alt="student-handbook" id="border">
						</div>
						<div class="block-link">
							<button type="button" class="btn btn-secondary"><b>Read More</b></button>
						</div>
						<hr class="hr-style">
					</div>
					<div class="list-item">
						<h4 class="block-title">Complimentary Men's and Women's Basketball Tickets</h4>
						<div class="block-image-wrapper">
							<img src="" class="img-fluid" alt="complimentary-tickets" id="border">
						</div>
						<div class="block-link">
							<button type="button" class="btn btn-secondary"><b>Read More</b></button>
						</div>
						<hr class="hr-style">
					</div>
					<div class="list-item">
						<h4 class="block-title">Taxability of Complimentary Football Tickets - Season and Single Game</h4>
						<div class="block-image-wrapper">
							<img src="" class="img-fluid" alt="taxability" id="border">
						</div>
						<div class="block-link">
							<button type="button" class="btn btn-secondary"><b>Read More</b></button>
						</div>
						<hr class="hr-style">
					</div>
					<div class="list-item">
						<h4 class="block-title">2016 Mobile Device Policy</h4>
						<div class="block-image-wrapper">
							<img src="" class="img-fluid" alt="mobile-device-policy" id="border">
						</div>
						<div class="block-link">
							<button type="button" class="btn btn-secondary"><b>Read More</b></button>
						</div>
						<hr class="hr-style">
					</div>
					<div class="list-item">
						<h4 class="block-title">Moving and Relocation Policy</h4>
						<div class="block-image-wrapper">
							<img src="" class="img-fluid" alt="relocation-policy" id="border">
						</div>
						<div class="block-link">
							<button type="button" class="btn btn-secondary"><b>Read More</b></button>
						</div>
						<hr class="hr-style">
					</div>
					<div class="list-item">
						<h4 class="block-title">2018 Camp and Clinic Guide</h4>
						<div class="block-image-wrapper">
							<img src="" class="img-fluid" alt="clinic-guide" id="border">
						</div>
						<div class="block-link">
							<button type="button" class="btn btn-secondary"><b>Read More</b></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
