<div class="row" style="margin: 4px 0px 4px 0px">
	<div class="col col-lg-7 col-med-7 col-sm-7" style="min-height: 90vh" id="border">
		<div class="title-text">
			<h1>Georgia Tech Athletics inspires and empowers student-athletes to be champions in academics, competition, and life.</h1>
		</div>
		<div class="body-text">
			<p>Our Core Values:</p>
			<p>&bull;&nbsp;Teamwork: Many people, one team. We are united by open communication, mutual respect, and a shared vision. Together we serve and succeed. Together we swarm.</p>
			<p>&bull;&nbsp;Character: We speak honestly, act ethically, perservere in the face of a challenge, and honor our commitments. We take ownership of our actions and decisions.Our integrity is never compormised.</p>
			<p>&bull;&nbsp;Excellence: We relentlessly puruse greatness through passion, hard work, intelligence, and discipline.</p>
			<p>&bull;&nbsp;Innovation: We have the courage to take risks, adapt, and explore creative solutions. We embrace new ideas and drive challenge.</p>
		</div>
	</div>
	<div class="col col-lg-3 col-med-3 col-sm-3" style="min-height: 80vh" id="border">
		<div>
		</div>
	</div>
</div>
