<div class="title-toolbar">
  <form>
    <div class="row">
      <div class="col" style="padding-left: 0px">
        <div class="input-group" style="padding-left: 0px">
          <input class="form-control py-2" type="search" placeholder="Search" id="example-search-input">
          <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="list-group" id="search-table">
  <a href="policy" class="list-group-item list-group-item-action">1 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">2 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">3 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">4 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">5 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">6 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">7 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">8 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">9 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">10 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">11 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">12 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">13 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">14 | Result</a>
  <a href="policy" class="list-group-item list-group-item-action">15 | Result</a>
</div>